@import '~shared/styles/index.scss';

.Button {
  border: 1px solid $color-black;
  color: $color-white;
  margin-top: $margin-medium;
  padding: $margin-small;
  width: 200px;
}

.Enabled {
  background-color: $color-green;
}

.Disabled {
  background-color: $color-grey;
}
