@import '~shared/styles/index.scss';

.App {
  font-family: $font-primary;
  left: 0;
  margin: auto;
  padding: $margin-medium;
  right: 0;
}

.ErrorMessage {
  border-bottom: 2px solid $color-red;
  margin-top: $margin-small;
}

.Wrapper {
  @extend %flex-center-both;

  overflow: hidden;
  width: 100%;
}
