$color-black: #000;
$color-green: #118f00;
$color-grey: #646464;
$color-red: #f00;
$color-white: #fff;

$font-primary: 'Lucida Sans', Verdana, sans-serif;

$margin-small: 10px;
$margin-medium: 25px;
$margin-large: 50px;
$margin-huge: 100px;
