@import '~shared/styles/index.scss';

.Gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $margin-large;
  width: 100%;

  img {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.75);
    margin: $margin-small;
    max-width: 40%;
    width: 40%;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
